# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Project
CMakeSettings.json
.vs/*
build/*
dist/*
out/*
pyDSCSRenderer.cpp
pyDSCSRenderer.pyd
